In [8]:
import torch
import torch.nn as nn

import pandas as pd
import sklearn as skl

In [9]:
data = pd.read_csv('../../data/Iris_Species/Iris.csv')
data = skl.utils.shuffle(data)

In [10]:
data.sample(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
115,116,6.4,3.2,5.3,2.3,Iris-virginica
109,110,7.2,3.6,6.1,2.5,Iris-virginica
110,111,6.5,3.2,5.1,2.0,Iris-virginica
69,70,5.6,2.5,3.9,1.1,Iris-versicolor
84,85,5.4,3.0,4.5,1.5,Iris-versicolor

In [11]:
def to_numerical_category(name):
    if name == 'Iris-setosa':
        return 0
    elif name == 'Iris-versicolor':
        return 1
    elif name == 'Iris-virginica':
        return 2
    else:
        raise NotImplementedError

In [12]:
label = [to_numerical_category(name) for name in data['Species']]

In [14]:
data = data.drop(columns=['Id', 'Species'])

In [15]:
train_size = int(len(data) * 0.8)
train_data, test_data = data[:train_size], data[train_size:]
train_label, test_label = label[:train_size], label[train_size:]

In [16]:
train_data.sample(5)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
27             5.2           3.5            1.5           0.2
31             5.4           3.4            1.5           0.4
7              5.0           3.4            1.5           0.2
46             5.1           3.8            1.6           0.2
124            6.7           3.3            5.7           2.1

In [45]:
neighbor_num = 3

train_data_tensor = torch.tensor(train_data.values, dtype=torch.float32)
test_data_tensor = torch.tensor(test_data.values, dtype=torch.float32)

def KNN(train_data, test_data, neighbor_num):
    est_label = []
    for sample in test_data_tensor:
        distance = ((sample - train_data_tensor) ** 2).sum(-1)

        nval, idxs = torch.topk(-distance, neighbor_num)
        ids = [train_label[idx] for idx in idxs.numpy()]

        count = torch.bincount(torch.tensor(ids))
        cnt, best = count.max(0)

        est_label.append(best.item())
    return est_label
        
print(list(zip(est_label, test_label)))

[(0, 0), (1, 1), (1, 1), (0, 0), (2, 2), (2, 2), (2, 2), (0, 0), (2, 2), (2, 2), (2, 2), (2, 2), (1, 1), (1, 1), (0, 0), (1, 1), (2, 2), (1, 1), (2, 2), (2, 2), (1, 1), (0, 0), (1, 1), (1, 1), (1, 1), (1, 1), (0, 0), (0, 0), (0, 0), (1, 1)]